body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #171a21;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #171a21;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.game-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.game-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}